<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
 <h1>help</h1>
</p>
<div class="center hero-unit">

<style>
  #draggable { width: 150px; height: 80px; padding: 0.5em; background:grey;}
  </style>
  <script>
  $(function() {
    $( "#draggable" ).draggable({containment: "#containment-wrapper", scroll: false});
  });
  </script>



<div class="demo">

<div id="draggable" class="ui-widget-content">
  <p>Server 1</p>
</div>



</div><!-- End demo -->



<div class="demo-description" style="display: none; ">
<p>Enable draggable functionality on any DOM element. Move the draggable object by clicking on it with the mouse and dragging it anywhere within the viewport.</p>
</div><!-- End demo-description -->




	
	<script>
	// increase the default animation speed to exaggerate the effect
	$.fx.speeds._default = 1000;
	$(function() {
		$( "#dialog" ).dialog({
			autoOpen: false,
			show: "blind",
			hide: "explode"
		});

		$( "#opener" ).click(function() {
			$( "#dialog" ).dialog( "open" );
			return false;
		});
	});
	</script>



<div class="demo">

<div id="dialog" title="Server 1">
	<p>Server Status information <br><ul><li>vmware tools</li><li>backup complete</li><li>ping</li><li>45% cpu</li><li>22% ram</li></ul> </p>
</div>

<button id="opener">Open Dialog</button>

</div><!-- End demo -->





</div>



