<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
 <h1>help</h1>
</p>
<script type="text/javascript" chartset="utf-8">
  $(function(){
  	new Highcharts.Chart({
  		chart: {
  			renderTo: "orders_chart"
  		},
  		title: {
  			text: "orders by day"
  		},
  		xAxis: {
  			type: "datetime"
  		},
  		yAxis: {
  			title: {
  				text: "dollars"
  			}
  		},
  		series: [{
  			data: [1,2,7,3,8,2]
  			}]
  	});

  });
</script>
<div id="orders_chart" style="width:560px; height:300px; margin-left:200px;"></div>