<% provide(:title, 'Home') %>

    <div id="wrapper">

         <!-- Begin Header -->
         <div id="header">
         <h1>Cloudadmin</h1>
<p>
  This is the home page for Cloud Admin</div>
  <div id="navigation">
<h2>Alerts</h2>
</div>
</div>

</p>