<div class="center hero-unit">
<%= link_to image_tag("logo.png", alt: "Cloudadmin"), 'http://rubyonrails.org/' %>
  <h1>Cloud Admin</h1>

  <h2>
    Cloudadmin.us is dedicated to providing support to your environment. We have the ability to deliver top-notch customer service for any maintenance plan. 
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
</div>

