

<h3><a href="#"><%= incoming_mail.from %></a></h3>
	<div>
		<h2><p><%= incoming_mail.to %></p></h2>
		<h2><p><%= incoming_mail.ip %></p></h2>
		<p>
		<%= incoming_mail.body %>
		</p>


	</div>
	