
<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
	</script>


<div class="center hero-unit">
<% provide(:title, 'All Emails') %>
<h1>All emails</h1>




<div id="accordion">

	<%= render @incoming_mails %>
	
</div>
</div>