
<div class="draggable ui-widget-content">
<span class="content" style="color:green;"><%= server.name %><div style="color:black"><%= server.address %><br>created <%= time_ago_in_words(server.created_at) %> ago.</div></span>

</div>
