<div class="draggable ui-widget-content">

<span class="button content" style="color:green;"><span class="inlinesparkline"><%= Array.new(4){rand(25)}.join(',') %></span><br><%= server.name %><div style="color:black"><%= server.address %></div></span>

</div>
