
$background-color: #cff;
$link-color: #09c;
$visited-link-color: #069;

html {
  background: url(caldara.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}


#wrapper { 
 margin: 0px 0px 0px 0px;
 margin-left:10%;
 margin-right:10%;

}
#faux {
 background: url(faux-11-4.gif);
 margin-bottom: 10px;
 overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
 width: 100%
}
#header {
 color: #333;
 padding: 0px 0px 0px 0px;
 margin-top: 3px;
 height: 150px;
 background: #D1DBDB;
}
#navigation {
 color: #333;
 padding-top:1px;
 padding-left:10px;

 margin-top: 3px;
 background: #ABBEBE;
 position: relative;
}

#section {
 color: #333;
 padding-top:1px;
 padding-left:10px;
 margin-top: 3px;
 background: #ABBEBE;
 }

#leftcolumn { 
 display: inline;
 color: #333;
 margin: 10px;
 padding: 0px;
 width: 205px;
 float: left;
}
#leftmiddle { 
 float: left;
 color: #333;
 margin: 10px 13px;
 padding: 0px;
 width: 209px;
 display: inline;
 position: relative;
}
#rightmiddle { 
 display: inline;
 position: relative;
 color: #333;
 margin: 10px 10px 10px 10px;
 padding: 0px;
 width: 205px;
 float: left;
}
#rightcolumn { 
 display: inline;
 position: relative;
 color: #333;
 margin: 10px 10px 10px 17px;
 padding: 0px;
 width: 205px;
 float: left;
}
#emailinbox{
	position: relative;
	float: none;
	margin: 0px 0px 0px 0px;
	background: #ABBEBE;
	padding:10px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $visited-link-color;
    text-decoration: underline;
  }

  &:visited {
    color: $visited-link-color;
  }
}


/* Navigation */

nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  position: absolute;
  top: 3px;
  right: 50px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0;

      a {
        padding: 0 5px;
        font-weight: bold;

        &:visited {
          color: $link-color;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
  position: relative;
  right: 0px;
}

.clear { clear: both; background: none; }