 <div id="header">
         <%= image_tag("rails.png", alt: "Sample App", class: "round") %>
         <h1>Cloudadmin</h1>
<p>
  This is the home page for Cloud Admin</div>
  <div id="navigation">
<h2>Menu</h2>
<nav class="round">
          <ul>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "Sign in", '#' %></li>
          </ul>
        </nav>
</div>